<li>
	{{burger_name}}

	<button class="change" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}EAT AGAIN!{{else}}EAT UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
